@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<h3> Some Notes :</h3>

@*<p>Use this area to provide additional information.</p>*@
<div class="container">
    @*<p>The alert-dismissible class adds some extra padding to the close button.</p>*@
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> This website is very user friendly ...You will interact with it smootly.
    </div>
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Info!</strong> It is not prefable to borrow more than 4 Books
    </div>
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Danger!</strong> This Website is secured ,so don`t play with us !!
    </div>
</div>
